.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: #c7c7c7;
}
.nav-left {
    font-size: 32px;
}
.nav-left a {
    color: white;
    text-decoration: none;
}
.nav-right a {
    text-decoration: none;
    color: #c7c7c7;
    font-size: 16px;
}
.nav-right {
    display: flex;
    gap: 3rem;
}